[submodule "benchmarks/full_catalog/puppetlabs-puppetserver_perf_control"]
	path = benchmarks/full_catalog/puppetlabs-puppetserver_perf_control
	url = https://github.com/xuejinze1/puppetlabs-puppetserver_perf_control
